<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>📚 Sistema de Biblioteca</h1>

        <p>Escolha uma opção:</p>

        <div class="menu">
            <a href="/autores">Autores</a>
            <a href="/livros">Livros</a>
            <a href="/leitores">Leitores</a>
        </div>

    </div>

</body>
</html>